{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дневник</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <h1><a href="{% url 'index' %}">🛡️ Private Diary</a></h1>
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }} |
                <a href="{% url 'add_entry' %}">Добавить запись</a> |
                <a href="{% url 'logout' %}">Выход</a>
            </p>
        {% else %}
            <p><a href="{% url 'login' %}">Вход</a> | <a href="{% url 'register' %}">Регистрация</a></p>
        {% endif %}
    </div>
    <hr>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
